<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="http-equiv" content="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/dist/index.css">
        <title>Skribbl</title>
    </head>
    <body>
        <noscript>
            <h1>Skribbl requires JavaScript to run.</h1>
        </noscript>
        <div id="room-link" hidden>
            <div>
                Share this link with your friends to invite them to this room:
                <input type="text" id="room-link-input" readonly />
                <button type="button" data-copy-btn="room-link-input">
                    Copy
                </button>
            </div>
        </div>
        <div class="main-container">
            <ul id="list-of-players" hidden></ul>
            <div class="rooms" id="lobby" data-current="true">
                <div>
                    <form id="lobby-form" action novalidate>
                        <input
                            type="text"
                            id="display-name"
                            name="displayName"
                            placeholder="Display Name"
                            minlength="3"
                            maxlength="20"
                            required />
                        <input
                            type="hidden"
                            value="{{roomId}}"
                            id="room-id"
                            name="roomId"
                            readonly />
                    </form>
                    <button type="button" id="play-btn">
                        Play
                    </button>
                    <button type="button" id="create-private-room-btn">
                        Create Private Room
                    </button>
                </div>
            </div>
            <div class="rooms" id="waiting-room">

            </div>
        </div>
        <script src="/dist/index.js" type="module"></script>
    </body>
</html>