:root {
    --_toastmynuts-tw: min(80vw, 25rem);

    --max-content-width: 1400px;
    --padding-inline: 1rem;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow-wrap: break-word;
    word-wrap: break-word;
}

[hidden] {
    display: none !important;
}

body {
    line-height: 1.5;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;

    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input,
a,
textarea,
select {
    font: inherit;
}

button,
input,
a,
textarea,
select {
    font-size: 1.025rem;
}

button {
    padding: 0.5rem 0.75rem;

    border-radius: 0.25rem;
    border: none;

    outline: transparent;

    background-color: transparent;

    font-weight: 600;

    min-width: 10ch;
    min-height: 5ch;

    cursor: pointer;
}

input {
    padding: 0.25rem 0.75rem;

    border-radius: 0.25rem;
}

ul:not([role="list"]),
ol:not([role="list"]) {
    display: flex;
    align-items: center;

    list-style-type: none;
}

#app {
    padding-block: 8rem;

    width: min(calc(100% - var(--padding-inline) * 2), var(--max-content-width));
    margin-inline: auto;

    min-height: 100dvh;

    display: grid;
    place-items: center;

    gap: 2rem;

    grid-template-rows: 2fr auto;
}

#app:has(#lobby[hidden]) {
    grid-template-rows: auto 1fr;
}

.main-container {
    --_padding: 0.75rem;

    display: grid;
    place-items: center;

    width: 100%;

    gap: 1rem;

    grid-template-areas: "players" "room" "chat";
}

@media screen and (min-width: 768px) {
    .main-container:has(#chat:not([hidden])):has(#list-of-players:not([hidden])):has(#lobby:not([hidden])) {
        grid-template-areas: "room room room" "players chat chat";
    }
}

@media screen and (min-width: 1246px) {
    .main-container:has(#chat:not([hidden])):has(#list-of-players:not([hidden])):has(#lobby:not([hidden])) {
        grid-template-areas: "players room chat";
        grid-template-columns: 1fr 2fr 1fr;
    }
}

.rooms {
    text-align: center;
    grid-area: room;

    width: 100%;
}

#list-of-players,
#chat,
#waiting-room {
    height: 200px;

    overflow-y: auto;
}

#chat {
    max-height: 500px;
}

#chat {
    grid-area: chat;

    display: flex;
    flex-direction: column;

    width: 100%;
}

#chat-form {
    width: 100%;
}

#list-of-chats {
    flex-direction: column;
    align-items: flex-start;

    flex: 1;

    overflow: auto;
}

#list-of-chats li {
    width: 100%;
}

#list-of-chats li .name {
    font-weight: 600;
}

#list-of-chats li p {
    font-size: 80%;
}

#list-of-chats li:nth-of-type(odd) {
    background-color: hsl(107 69% 78%);
}

#list-of-chats li:nth-of-type(even) {
    background-color: hsl(0 87% 78%);
}

#list-of-players {
    min-width: 200px;

    width: 100%;

    flex-direction: column;
    align-items: flex-start;

    border-radius: 0.25rem;

    grid-area: players;
}

.rooms:not(#lobby),
#chat,
#list-of-players {
    box-shadow:
        0px 1px 1px hsl(0 0% 0% / 0.25),
        0px 2px 2px hsl(0 0% 0% / 0.25),
        0px 4px 4px hsl(0 0% 0% / 0.25);

    border: 1px solid hsl(0 0% 0% / 0.5);
}

.rooms:not(#lobby) {
    padding: var(--_padding);
}

#list-of-chats li {
    padding-block: calc(var(--_padding) / 2);
    padding-inline: var(--_padding);
}

#chat-form input {
    border-radius: 0;
}

#list-of-players > li {
    padding-block: calc(var(--_padding) / 2);

    display: flex;

    padding-inline: var(--_padding);
}

#list-of-players > li:first-child {
    padding-top: var(--_padding);
}

#list-of-players > li:last-child {
    padding-bottom: var(--_padding);
}

#lobby {
    max-width: calc(var(--max-content-width) * 0.5);
}

.badge {
    font-size: 80%;
}

.rooms:not([data-current="true"]) {
    display: none !important;
}

input {
    width: 100%;
}

button:disabled {
    cursor: default;
}

.title {
    font-size: 1.175rem;
    font-weight: 600;
}

.main-container:not(:has([data-player-count="1"])) [data-waiting-text] {
    display: none;
}

.main-container:has([data-player-count="1"]) [data-for-host="true"] [data-waiting-text] {
    display: block;
}

[data-host="true"] .main-container:not(:has([data-player-count])) [data-for-host="true"] #start-game-btn,
[data-host="true"] .main-container:has([data-player-count="1"]) [data-for-host="true"] #start-game-btn {
    display: none;
}

:not([data-host="true"]) [data-for-host="true"] {
    display: none;
}

[data-host="true"] [data-for-players="true"] {
    display: none;
}

[data-host="true"] [data-for-host="true"] {
    display: block;
}

:not([data-user-to-draw="true"]) [data-for-user-to-draw="true"] {
    display: none;
}

[data-user-to-draw="true"] [data-for-user-to-draw="true"] {
    display: block;
}

[data-user-to-draw="true"] [data-for-user-to-draw="false"] {
    display: none;
}

#lobby-buttons-container {
    display: flex;
    gap: 1rem;
}

#playing-room {
    aspect-ratio: 16 / 9;

    width: min(100%, 1280px);

    display: flex;
    flex-direction: column;
}

#playing-room-header {
    padding: 0.5rem;

    text-align: center;

    display: flex;
    flex-direction: column;
}

#playing-room-body {
    width: 100%;
    height: 100%;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

#drawing-canvas {
    width: 100%;
    height: calc(100% - 4px);

    touch-action: pinch-zoom;
    image-rendering: pixelated;

    border: 1px solid black;
}

[data-user-to-draw="true"] #drawing-canvas {
    cursor: crosshair;
}

#picking-a-word-modal {
    position: absolute;
    z-index: 99;

    transform: translateY(var(--_y, -100%));

    width: 100%;
    height: 100%;

    inset: 0;

    background-color: rgba(0, 0, 0, 0.25);

    transition:
        transform 0.3s,
        visibility 0.3s,
        opacity 0.3s;

    opacity: 0;
    visibility: hidden;

    display: grid;
    place-items: center;

    text-align: center;
}

#picking-a-word-modal[data-visible="true"] {
    --_y: 0;
    visibility: visible;
    opacity: 1;
}

#word-list {
    display: flex;
    list-style-type: none;
    gap: 0.5rem;

    justify-content: center;
    align-items: center;

    margin-top: 1rem;
}

#word-list button {
    background-color: white;

    box-shadow:
        0px 2px 2px hsl(0 0% 0% / 0.5),
        0px 2px 2px hsl(0 0% 0% / 0.5),
        0px 4px 4px hsl(0 0% 0% / 0.5);

    transition:
        transform 0.3s ease-out,
        box-shadow 0.3s ease-out,
        opacity 0.3s ease-out;

    will-change: transform, box-shadow, opacity;
}

#word-list button:hover {
    box-shadow:
        0px 1px 1px hsl(0 0% 0% / 0.5),
        0px 2px 2px hsl(0 0% 0% / 0.5);
    transform: scale(0.95);
}

#word-list button:active {
    opacity: 0.87;
}

.title-md {
    font-size: 1.375rem;
    font-weight: 600;
}

#chat-form {
    position: relative;
}

#chat-form > button {
    position: absolute;

    top: 0;
    bottom: 0;
    margin-block: auto;

    right: 2px;

    min-width: 0;
    min-height: 0;

    padding: 0;

    width: 28px;
    height: 28px;
}

#chat-form > input {
    padding-right: 32px;
}

#room-link {
    width: 100%;
}
